<h1>Search</h1>
<ul>
    <li><a href="http://localhost:3000/home">Home</a></li>
    <li><a href="http://localhost:3000/season">EPL 2016/17</a></li>
    <li><a href="http://localhost:3000/matches">MatchDays</a></li>
    <li><a href="http://localhost:3000/teams">Team</a></li>
    <li><a href="http://localhost:3000/search">Search</a></li>
</ul>

<%= form_tag(results_search_index_path, method: "get") do %>
     <%= label_tag(:q, "Search for:") %> 
     <%= text_field_tag(:q) %>
     <%= submit_tag("Search") %>
<% end %>