<header id="homepage_header">
    <h1>Welcome to Season 2016/17 Match Days</h1>
</header>
<div>
    <h2> This a introduction to Rails Project</h2>
    <h2> There are 380 Matches available to view </h2>
    <h2> Each Matches contain the home and away team with the score also </h2>
</div>