<section>
    <h1>About</h1>
    <p>Introduction to Rails Project.</p>
    <p>Data source used obtained from <a href="https://github.com/openfootball/football.json/blob/master/2016-17/en.1.json"> for the projecct.<a></p>
    <p>The data source is stored locally for this website.</p>

    <p>There are a total of 3 tables used for this project</p>
    <ol>
        <li>
            <p><b>Season Table</b></p>
            <p>The season table includes the season name and the season year</p>
        </li>
        <li>
            <p><b>Match Table</b></p>
            <p>The match table includes the match name, the season_id as a foreign key, it has the date for each matches.<br> The table also has the home team score, the away team score, the name of home team also the away team name</p>
        </li>
        <li>
        <p><b>Team Table</b></p>
        <p>The team table includes the team name, the team key, the team code and the season_id with the match_ids also</p>
    </li>
    </ol>
</section>